.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  text-align: center;
}

.footerText {
  color: white;
}

@media only screen and (max-width: 800px){
  .footer{
    width: 100%;
    position: sticky;
  }
}
